---
layout: default
title: alehander42
---

<div id="home">
   
   <ul class="writing-posts posts">
      {% for post in site.posts %}
        {% if post.categories[0] == 'writing' %}
          <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
        {% endif %}
      {% endfor %}
   </ul>

   <ul class="programming-posts posts">
      {% for post in site.posts %}
        {% if post.categories[0] != 'writing' %}
          <li><span>&gt; {{ post.date | date_to_string }}</span> <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
        {% endif %}
      {% endfor %}
   </ul>
</div>
